.groups
  = link_to do
    .group
      .group__group-name<
        kurogoro-group
      .group__latest-message<
        iine!
  = link_to do
    .group
      .group__group-name<
        tarojiro-group
      .group__latest-message<
        yahhoo!