.flash-box
  .notice<
    グループを作成しました
-# .wrapper
-#   .chat-side
-#     .side-header
-#       %p.side-header__user-name<
-#         kurogoro
      -# %ul.user-menu
      -#   %li.user-menu__edit-user
      -#     %a
      -#       %i.fa.fa-edit
      -#         new
      -#   %li.user-menu__edit-user
      -#     %a
      -#       %i.fa.fa-cog
      -#         edit
  -#   .groups
  -#     %a
  -#       .group
  -#         .group__group-name<
  -#           kurogoro-group
  -#         .group__latest-message<
  -#           iine!
  -# .chat-main
  -#   .main-header
  -#     .current-group
  -#       %h2.current-group__name<
  -#         kurogoro-group
  -#       %ul.member-list
  -#         Member :
  -#         %li.member-list__member<
  -#           kurogoro
  -#     %a
  -#       .main-header__edit-btn<
  -#         Edit
  -#   .messages
  -#     .message
  -#       .upper-info
  -#         %p.upper-info__user<
  -#           kurogoro
  -#         %p.upper-info__date<
  -#           2019/05/01(Wed)
  -#       %p.message__text<
  -#         iine!
  -#   .form
  -#     %form.new-message#new_message
  -#       %input
  -#       %input
  -#       .inputbox
  -#         %input.input-box__text#message_content
  -#         %label.image-label
  -#           %i.fa.fa-image
  -#             before
  -#           %input.image-label__input#message_image
  -#       %input.new-message__submit-btn