// ベーステキストカラー
$white_font_color: #FFFFFF;
// テキストカラー(大サイズ)
$large_font_color: #333333;
// テキストカラー(中サイズ)
$middle_font_color: #434A54;
// テキストカラー(小サイズ)
$small_font_color: #999999;

// 強調したバックグラウンドカラー
$strong_bgd_color: #38AEF0;

// アラート時のフラッシュメッセージの背景色
$alert_orange: #F35500;
