.main-header
  .current-group
    %h2.current-group__name<
      kurogoro-group
    %ul.member-list
      Member :&nbsp;
      %li.member-list__member<
        kurogoro
      %li.member-list__member<
        tarojiro
  = link_to "", style: "text-decoration:none;" do
    .main-header__edit-btn<
      Edit