.messages
  - @messages.each do |message|
    .message{data: {id: message.id}}
      .upper-info
        %p.upper-info__user
          = message.user.name
        %p.upper-info__date
          = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
      - if message.content.present?
        %p.message__text
          = message.content
      - if message.image.present?
        = image_tag message.image.url.to_s
