.messages
  .message
    .upper-info
      %p.upper-info__user<
        kurogoro
      %p.upper-info__date<
        2019/05/01(Wed)00:00:00
    %p.message__text<
      iine!
  .message
    .upper-info
      %p.upper-info__user<
        tarojiro
      %p.upper-info__date<
        2019/05/03(Fri)12:00:00
    %p.message__text<
      yattane!